# dependencies
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

# testing
frontend/coverage/

# next.js
frontend/.next/
frontend/out/

# production
frontend/build/

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# env files
.env
.env.*
!.env.example

frontend/.env
frontend/.env.*
!frontend/.env.example

backend/.env
backend/.env.*
!backend/.env.example

infra/.env
infra/.env.*
!infra/.env.example

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# python
backend/.venv/
backend/__pycache__/
backend/**/*.pyc

# Global / OS
.DS_Store
*.pem
