{
  email {$CADDY_EMAIL}
}

# Root domain -> phrases にリダイレクト
{$ROOT_DOMAIN} {
  redir https://{$APP_DOMAIN}{uri} permanent
}

# Phrases 本体
{$APP_DOMAIN} {
  encode zstd gzip

  header {
      Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
      X-Content-Type-Options "nosniff"
      X-Frame-Options "DENY"
      Referrer-Policy "strict-origin-when-cross-origin"
  }

  # Send all traffic to Next.js
  reverse_proxy frontend:3000

}
